div:nth-child(1) {
	background-color: red;
	width: 211.6mm;
}

div:nth-child(2) {
	background-color: blue;
	width: 21.16cm;
}
div:nth-child(3) {
	background-color: green;
	width: 3.14in;
}
div:nth-child(4) {
	background-color: yellow;
	width: 24pc;
}
div:nth-child(5) {
	background-color: silver;
	width: 284pt;
}
div:nth-child(6) {
	background-color: lightblue;
	width: 516px;
}
div:nth-child(7) {
	background-color: #ff24ff;
}

div:nth-child(8) {
	background-color: #cc5678;
}
div:nth-child(9) {
	background-color: lightgreen;
}
div:nth-child(10) {
	background-color: #ddee32;
}
div:nth-child(11) {
	background-color: tomato;
}
div:nth-child(12) {
	background-color: #346799;
}
div { 
	height:30px;
	padding: 10px;
	margin:10px;
	}


